<?xml version="1.0"?>
<config>
    <modules>
        <Megnor_Quickshop>
            <version>1.0</version>
        </Megnor_Quickshop>
    </modules>	
	<default>
        <quickshop>
            <general>
				<enabled>1</enabled>                
            </general>
        </quickshop>
	</default>	
	<global>
		<blocks>
            <quickshop>
                <class>Megnor_Quickshop_Block</class>
            </quickshop>			
        </blocks>		
        <models>
            <quickshop>
                <class>Megnor_Quickshop_Model</class>
            </quickshop>            
        </models>		
		<helpers>
            <quickshop>
                <class>Megnor_Quickshop_Helper</class>
            </quickshop>
        </helpers>		
        <resources>
            <quickshop_setup>
                <setup>
                    <module>Megnor_Quickshop</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickshop_setup>
            <quickshop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickshop_write>
            <quickshop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickshop_read>
        </resources>
    </global>	
    <frontend>        
        <layout>
            <updates>
                <quickshop>
                    <file>tm_quickshop.xml</file>
                </quickshop>
            </updates>
        </layout>
    </frontend>	
    <admin> 
        <routers>
			<quickshop>
				<use>admin</use>
				<args>
					<module>Megnor_Quickshop</module>
					<frontName>quickshop</frontName>
				</args>
			</quickshop>
        </routers>
    </admin> 
    <adminhtml>	
		<menu>
			<megnor_menu translate="title" module="quickshop">
				<children>
					<quickshopsetting module="quickshop">
						<title>TM Quickshop</title>
						<sort_order>8</sort_order>
						<action>adminhtml/system_config/edit/section/quickshop</action>
					</quickshopsetting>
				</children>                
			</megnor_menu>
		</menu>	
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<quickshop translate="title" module="quickshop">
                                            <title>Megnor quickshop Pro</title>
                                        </quickshop>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>			
    </adminhtml>   
</config>