<?xml version="1.0"?>
<config>
  <modules>
    <Kano_Advertisementpackage>
      <version>0.1.1</version>
    </Kano_Advertisementpackage>
  </modules>
  <frontend>
    <routers>
      <advertisementpackage>
        <use>standard</use>
          <args>
            <module>Kano_Advertisementpackage</module>
            <frontName>advertisementpackage</frontName>
          </args>
      </advertisementpackage>
    </routers>
		<layout>
		  <updates>
			<advertisementpackage>
			  <file>advertisementpackage.xml</file>
			</advertisementpackage>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <advertisementpackage>
        <class>Kano_Advertisementpackage_Helper</class>
      </advertisementpackage>
    </helpers>
	<blocks>
	  <advertisementpackage>
		<class>Kano_Advertisementpackage_Block</class>
	  </advertisementpackage>
	</blocks>
	<models>
	  <advertisementpackage>
		<class>Kano_Advertisementpackage_Model</class>
		<resourceModel>advertisementpackage_mysql4</resourceModel>
	  </advertisementpackage>
	  <advertisementpackage_mysql4>
		<class>Kano_Advertisementpackage_Model_Mysql4</class> 
		<entities>		  
			  <advertisementpackage>
				<table>kano_advertisementpackage</table>
			  </advertisementpackage>
        </entities>
	  </advertisementpackage_mysql4> 
	</models>
	<resources>
	  <advertisementpackage_setup>
		<setup>
		  <module>Kano_Advertisementpackage</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </advertisementpackage_setup>
	  <advertisementpackage_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </advertisementpackage_write>
	  <advertisementpackage_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </advertisementpackage_read>
	</resources> 
  </global>
  <admin>
	<routers>
	  <advertisementpackage>
	    <use>admin</use>
		<args>
		  <module>Kano_Advertisementpackage</module>
		  <frontName>admin_advertisementpackage</frontName>
		</args>
	  </advertisementpackage>
	</routers>
  </admin>
  <adminhtml>
	<layout>
	  <updates>
		<advertisementpackage>
		  <file>advertisementpackage.xml</file>
		</advertisementpackage>
	  </updates>
	</layout>
  </adminhtml>
</config> 