<?xml version="1.0"?>
<config>
  <modules>
    <Kano_CustomerAttributes>
      <version>0.1.0</version>
    </Kano_CustomerAttributes>
  </modules>
  <global>
    <helpers>
      <customerattributes>
        <class>Kano_CustomerAttributes_Helper</class>
      </customerattributes>
    </helpers>
	<models>
	  <customerattributes>
		<class>Kano_CustomerAttributes_Model</class>
		<resourceModel>customerattributes_mysql4</resourceModel>
	  </customerattributes>
	</models>
	<resources>
	  <customerattribute1431428470_setup>
		<setup>
		  <module>Kano_CustomerAttributes</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1431428470_setup>
	  <customerattribute1431428470_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1431428470_write>
	  <customerattribute1431428470_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1431428470_read>
	</resources>
  </global>
</config> 