<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Zeon_Artist>
            <version>0.1.3</version>
        </Zeon_Artist>
    </modules>
    <frontend>
        <routers>
            <artist>
                <use>standard</use>
                <args>
                    <module>Zeon_Artist</module>
                    <frontName>artist</frontName>
                </args>
            </artist>
        </routers>
        <layout>
            <updates>
                <artist>
                    <file>zeon_artist.xml</file>
                </artist>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zeon_Artist>
                    <files>
                        <default>Zeon_Artist.csv</default>
                    </files>
                </Zeon_Artist>
            </modules>
        </translate>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zeon_artist before="Mage_Adminhtml">Zeon_Artist_Adminhtml</zeon_artist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <zeon_artist module="Zeon_Artist">
                    <file>zeon_artist.xml</file>
                </zeon_artist>
            </updates>
        </layout>
        <translate>
            <modules>
                <Zeon_Artist>
                    <files>
                        <default>Zeon_Artist.csv</default>
                    </files>
                </Zeon_Artist>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <artist>
                        <class>Zeon_Artist_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </artist>
                </observers>
            </controller_front_init_routers>
        </events>
        <models>
            <zeon_artist>
                <class>Zeon_Artist_Model</class>
                <resourceModel>zeon_artist_mysql4</resourceModel>
            </zeon_artist>
            <zeon_artist_mysql4>
                <class>Zeon_Artist_Model_Mysql4</class>
                <entities>
                    <artist>
                        <table>zeon_artist</table>
                    </artist>
                    <store>
                        <table>zeon_artist_store</table>
                    </store>
                </entities>
            </zeon_artist_mysql4>
        </models>
        <helpers>
            <zeon_artist>
                <class>Zeon_Artist_Helper</class>
            </zeon_artist>
        </helpers>
        <blocks>
            <zeon_artist>
                <class>Zeon_Artist_Block</class>
            </zeon_artist>
        </blocks>
        <resources>
            <zeon_artist_setup>
                <setup>
                    <module>Zeon_Artist</module>
                    <class>Zeon_Artist_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zeon_artist_setup>
            <zeon_artist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zeon_artist_write>
            <zeon_artist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zeon_artist_read>
        </resources>
    </global>
    <default>
        <zeon_artist>
            <general>
                <is_enabled>1</is_enabled>
            </general>
        </zeon_artist>
    </default>
</config>